body {
  background-color: #f7fafc;
  color: #1a202c;
}
.container {
  margin: 0 auto;
  padding: 20px;
  width: 80vw;
  height: 100vh;
  background-color: #edf2f7;
}

p {
  margin: 5px;
}

.rows {
  display: flex;
  flex-direction: row;
}
.dash-block {
  margin-left: 0%;
}
