/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #89c9ac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #46a98a;
}
