.container {
    display: inline-block;
    justify-content: left;
    align-items: left;
}
  
  .tabs {
    position: absolute;
    top: 102px;
    width: 100px;
    background: rgba(0,0,0,0);
    height: 40px;
    list-style: none;
    margin: 0;
    min-width: 85%;
    flex-shrink: 0;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 10px 30px 7px 30px;
}
  
  .current {
    /* background-color: ; */
    background: #f1f3f5;
    color: blue;
    font-weight: bold;
  }
  
  .content {
    width: 1000px;
    height: max-content;
    background: white;
    padding: 10px;
    padding-left: 60px;
  }
  

  