ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration-line: none;
    text-align: center;
}

.navbar {
    color: black;
    height: 40px;
    background-color: lightgrey;
    padding: 0 1rem;
    border-bottom: 1px solid #474a4d;
}

.navbar-nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.nav-item {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-button {
    --button-size: 20px;
    width: var(--button-size);
    height: var(--button-size);
    background-color: rgb(233, 230, 230);
    border: 1px solid #474a4d;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
}

.icon-button:hover {
    filter: brightness(1.2)
}

.icon-button svg {
    fill: black;
    width: 15px;
    height: 15px;
}

.dropdown {
    position: absolute;
    top: 135px;
    width: 120px;
    transform: translateX(-37%);
    background-color: rgb(233, 230, 230);
    border: 1px solid #474a4d;
    overflow: hidden;
}

.menu-item {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: background 500ms;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

.menu-item:hover {
    background-color: rgb(247, 245, 245);
}