.graph {
    display: inline-block;
    background-color: lightcyan;
    width: 300px;
    height: 250px;
    margin: 10px;
    border: 1px solid black;
    border-width: 2px;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;

}

 /* temporary override */
.lineoverride {
    position: relative;
    top: -274px;
    left: 648px;
}