.loginButton {
  font-size: 18px;
  border: 2px solid black;
  background-color: rgb(233, 240, 240);
  color: black;
  padding: 1em 2em 1em 2em;
  margin: auto;
}

.loginButton:hover {
  font-size: 18px;
  border: 2px solid black;
  background-color: #2d2d2d;
  color: lightblue;
}
