.Nav {
  height: 105px;
  display: flex;
  justify-content: center;
  padding: 0.2rem;
  z-index: 12;
  text-decoration: none;
  background-color: #f5f0dc;
  margin: 0;
}

.NavLink:hover {
  color: #46a98a;
}

.NavLink {
  color: #000000;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 1.15em;
}
.NavLink.active {
  color: white;
  text-decoration: none;
}

div .NavMenu {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

.Bars {
  display: none;
  color: #808080;
}

@media screen and (max-width: 768px) {
  div .NavMenu {
    display: none;
  }
  .Bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nav {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

.NavBtnLink {
  border-radius: 4px;
  background: #808080;
  padding: 10px 22px;
  color: #000000;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* Second Nav */
  margin-left: 24px;
}

.NavBtnLink:hover {
  transition: all 0.2s ease-in-out;
  background: #fff;
  color: #808080;
}
