.container {
  display: flex;
  flex-direction: row;
}

.tabs {
  width: 300px;
  background: #e7eaed;
  padding: 2em 0em;
  list-style: none;
  margin: 0;
  min-width: max-content;

  flex-shrink: 0;
}

.tabs > li {
  padding: 1.5em 4em;
}

.tabs > li > a {
  text-decoration: none;
}

.current {
  /* background-color: ; */
  background: #f1f3f5;
  color: blue;
  font-weight: bold;
}

.content {
  margin: 2em;
  text-align: left;
  /* flex-shrink: 0; */
  width: 100%;
}

.content button {
  padding: 0.333em;
  margin-right: 20px;
}

.content table {
  width: 100%;
  border-collapse: collapse;
}

.content td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.content tr:nth-child(even) {
  background-color: #dddddd;
}
