.full-img,
.full-text {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.header-text {
  text-align: center;
  color: blue;
  -webkit-text-stroke: 1px black;
}

.graph-container {
  padding: 1.5em;
}

.header {
  margin-top: 2.5em;
  padding: 0;
}

.home {
  margin-top: 12em;
  text-align: center;
}

@media screen and (max-width: 2400px) {
  .full-text {
    font-size: 16px;
  }
  .header-text {
    font-size: 35.5px;
  }
}

@media screen and (max-width: 992px) {
  .full-text {
    font-size: 14px;
  }
  .header-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .full-text {
    font-size: 12px;
  }
  .full-img {
    width: 95%;
  }
  .header-text {
    font-size: 22px;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: #fcfcfc;
}
.dash-block {
  margin-left: 0%;
}

.container {
  width: 100%;
  height: 100vh;
}
.dropdown-menu {
  user-select: none;
  margin: auto;
  width: 90%;
  position: relative;
}
.dropdown-menu .dropdown-btn-menu {
  padding: 15px 15px;
  background: rgb(224, 236, 229);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: auto;
}

.dropdown-menu .dropdown-content-menu {
  top: 110%;
  left: 0;
  padding: 10px;
  background: #f0f0f0;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 95%;
}
.dropdown-menu .dropdown-content-menu .dropdown-item-menu {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown-menu .dropdown-content-menu .dropdown-item-menu:hover {
  background: rgb(206, 238, 218);
}
