.App {
  min-height: 100vh;
}

.menu-bar {
  padding: 8px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#left {
  text-align: left;
  padding-left: 3%;
  position: absolute;
}
#right {
  text-align: right;
  padding-right: 5%;
}
ul.breadcrumb {
  list-style: none;
  background: transparent;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 20px;
  content: " ";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.App-header {
  background-color: transparent;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding-top: 15%;
}

#background-pic {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  right: 0;
  top: 0;
  opacity: 0.4;
}

#test {
  width: 60%;
  height: auto;
  margin-top: 2vh;
}

h {
  font-size: calc(13px + 2vmin);
  font-style: italic;
  font-weight: bold;
  margin-bottom: 40px;
}

h1 {
  font-size: calc(9px + 1vmin);
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: calc(10px + 1vmin);
}

p1 {
  font-size: calc(8px + 1vmin);
}

#header-text {
  position: relative;
  width: 50%;
  margin-left: 15%;
}

#decoration {
  position: absolute;
  background-color: #474747;
  width: 10vh;
  height: 10vh;
  right: 0;
  top: 85vh;
}

.App-content {
  background-color: white;
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  color: black;
  padding-top: 20vh;
}

.App-content-2 {
  background-color: white;
  min-height: 60vh;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  color: black;
  padding-top: 25vh;
}

.App-content-3 {
  background-color: #474747;
  margin-top: 20vh;
  min-height: 60vh;
  text-align: center;
  justify-content: center;
  color: black;
  padding-top: 15vh;
}

.App-content-4 {
  background-color: white;
  min-height: 110vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  padding-top: 35vh;
  padding-left: 18%;
  padding-right: 18%;
}

#title {
  position: absolute;
  text-align: center;
  left: 35%;
  width: 30%;
  margin-top: 15vh;
}

#title-change {
  position: absolute;
  text-align: center;
  left: 35%;
  width: 30%;
  margin-top: 30vh;
  color: white;
}

#decoration-2 {
  position: absolute;
  background-color: #474747;
  width: 200px;
  right: 5%;
  height: 1px;
  margin-top: 20px;
}

.App-content > div {
  background-color: transparent;
  width: 30%;
  text-align: left;
  line-height: auto;
  font-size: 18px;
  margin: 50px;
}

.App-content-2 > div {
  margin: 30px;
}

.App-content-4 > div {
  background-color: transparent;
  width: 33.33%;
  height: 50vh;
  text-align: center;
  line-height: auto;
  font-size: 18px;
}

#profile {
  text-align: center;
}

#headshot {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#eventImg {
  width: 500px;
  height: 300px;
  object-fit: cover;
}

#eventImg-half {
  width: 150px;
  height: 300px;
  object-fit: cover;
  right: 0;
}

#introduction {
  position: relative;
  margin-top: 20px;
}

#event-info {
  position: relative;
  width: 300px;
  left: 180px;
  margin-top: 20px;
  text-align: right;
}

.App-footer {
  background-color: #474747;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding-top: 30vh;
}

.App-footer > div {
  margin: 0 100px;
}
