.App-home {
  min-height: 100vh;
  /*background-color: #f5f0dc;*/
  width: 100%;
}

.App-header-home {
  min-height: 60vh;
  color: #333333;
  padding-top: 7vh;
  padding-bottom: 7vh;
}

#background-pic {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  right: 0;
  top: 0;
  opacity: 0.4;
}

.h-title-home {
  font-size: calc(55px + 1vmin);
  font-family: serif;
  font-style: normal;
  font-weight: bold;
  margin-left: 2%;
  text-align: center;
}

.title {
  margin-top: 20vh;
  font-size: calc(25px + 2vmin);
  font-family: serif;
  font-style: nor;
  font-weight: bold;
  margin-bottom: 1%;
  text-align: center;
}

.home-h2 {
  font-size: calc(9px + 1vmin);
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 40px;
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
}

.p-home {
  font-family: serif;
  font-size: calc(12px + 0.8vmin);
  padding-top: 5%;
}
p1 {
  font-size: calc(8px + 1vmin);
}
.p-home-title {
  font-family: serif;
  font-size: calc(12px + 1.2vmin);
}
.header-text-home {
  text-align: center;
}

#title-home {
  position: absolute;
  text-align: center;
  left: 10%;
  width: 80%;
  margin-top: 15vh;
  color: #333333;
}

#parent_div_1 {
  width: 53%;
  text-align: center;
  float: left;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-right: 3%;
}

#parent_div_2 {
  width: 40%;
  text-align: center;
  float: left;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 3%;
}

#decoration {
  position: absolute;
  background-color: transparent;
  top: 20vh;
}
#clear {
  clear: both;
}

#logo-home {
  background-color: transparent;
  top: 20vh;
  width: 100%;
}

.App-content {
  min-height: 70vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 4vh;
  align-content: center;
  justify-content: center;
  color: black;
}

.App-content-2 {
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  color: black;
  padding-top: 10vh;
  padding-left: 100px;
  padding-right: 100px;
  overflow: auto;
}

.App-content-2 div {
  display: inline-block;
  text-decoration: none;
  margin: 30px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #89c9ac;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #46a98a;
}

.App-content-3 {
  top: 0;
  z-index: -1;
  /*position: sticky;*/
  padding-top: 10vh;
  padding-bottom: 3vh;
  text-align: center;
}

.diagram-laryout {
  background-color: transparent;
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.diagram-layout > img {
  margin-right: 30px;
}

.textBox {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.textBox > div {
  margin-right: 30px;
}

.title-home {
  color: #333333;
  margin-bottom: 80px;
}

.scrollingContent > div {
  width: 40vw;
  margin-left: 20px;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 300px;
}

.scrollingContent div:last-child {
  margin-bottom: 0px;
}

.diagram {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  display: inline;
}

#develop-info {
  width: 200px;
  color: #333333;
}

.App-content-4 {
  min-height: 60vh;
  max-height: min-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  padding-top: 10vh;
  padding-left: 18%;
  padding-right: 18%;
  padding-bottom: 20vh;
}

.App-content > div {
  background-color: transparent;
  width: 30%;
  text-align: left;
  line-height: auto;
  font-size: 18px;
  margin: 50px;
}

.App-content-4 > div {
  background-color: transparent;
  width: 33.33%;
  height: 40vh;
  text-align: center;
  line-height: auto;
  font-size: 18px;
}

#profile {
  text-align: center;
}

#headshot {
  max-width: 100%;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

#eventImg {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

#eventImg:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#introduction {
  position: relative;
  margin-top: 20px;
}

#event-info {
  position: relative;
  width: 300px;
  left: 260px;
  margin-top: 20px;
  text-align: right;
}

.App-footer {
  height: 250px;
  background-color: #8e8d8d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

#left-box {
  text-align: left;
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 50px;
}

#right-box {
  text-align: right;
  font-family: serif;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 50px;
}

.App-footer > div {
  width: 40%;
  margin: 10%;
}
