.App {
  min-height: 100vh;
}

.menu-bar {
  padding: 8px;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#left {
  text-align: left;
  padding-left: 3%;
  position: absolute;
}
#right {
  text-align: right;
  padding-right: 5%;
}
ul.breadcrumb {
  list-style: none;
  background: transparent;
}
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}
ul.breadcrumb li + li:before {
  padding: 20px;
  content: " ";
}
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
  padding-top: 25vh;
}

#background-pic {
  position: absolute;
  width: 100%;
  height: 90vh;
  object-fit: cover;
  right: 0;
  top: 0;
  opacity: 0.4;
}

h {
  font-size: calc(13px + 2vmin);
  font-style: italic;
  font-weight: bold;
  margin-bottom: 40px;
}

p {
  font-size: calc(10px + 1vmin);
}

#header-text {
  position: relative;
  width: 60%;
  margin-left: 15%;
}

#decoration {
  position: absolute;
  background-color: #474747;
  width: 4%;
  height: 8%;
  right: 0;
  margin-top: -2%;
}

.App-content {
  background-color: white;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
