.full-img,
.full-text {
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.header-text {
  text-align: center;
  color: blue;
  -webkit-text-stroke: 1px black;
}

.block {
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 2400px) {
  .full-text {
    font-size: 16px;
  }
  .header-text {
    font-size: 35.5px;
  }
}

@media screen and (max-width: 992px) {
  .full-text {
    font-size: 14px;
  }
  .header-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 650px) {
  .full-text {
    font-size: 12px;
  }
  .full-img {
    width: 95%;
  }
  .header-text {
    font-size: 22px;
  }
}

.chart-container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding: auto;
  align-content: flex-start;
  justify-content: flex-start;
}

.chart-element {
  position: relative;
  width: 300px;
  height: 200px;
  background: grey;
  border: 1px solid black;
  margin: 1em;
  cursor: pointer;
}

.chart-element:hover .chart-hover {
  opacity: 1;
}

.chart-hover {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pop-up-modal {
  width: 60vw;
  height: 60vh;
  border: 5px solid #ffff00;
  background: rgba(100, 100, 100, 0.8);
  display: flex;
  justify-content: center;
  color: white;
}
